<fieldset class="scheduler-border">
    <legend class="scheduler-border"><img src="/assets/logo_name_3.png" width="auto" height="100px"></legend>
    
    <div class="row alignment">
        <div class="col-lg-8">
            <h1>ABOUT</h1>
            <p class="para-about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p class="para-about">when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p class="para-about">when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            
            <img src="/assets/Logo.png" height="200px;">
            <a  href="https://github.com/rahul2240/properkodo-backend"><button class="btn git-button para-about btn-lg">GITHUB REPOSITORY</button></a>
            
            
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <br><br>
            
            <img  src="/assets/interview.png" width="70%">
            <br><br>
            <img src="/assets/cv.png" width="70%">
        </div>
    </div>
    <p class="love-text">Made with <b style="color: red;">&#10084; </b> by <a href="https://www.facebook.com/rahul2240"> Rahul</a>,<a href="https://www.facebook.com/vishnoikunal"> Kunal</a> &amp;<a href="https://www.facebook.com/shubhmisaki"> Shubham</a></p>
    
</fieldset>
