<fieldset class="scheduler-border">
    <legend class="scheduler-border"><img src="/assets/logo_name_3.png" width="auto" height="100px"></legend>
    
    <div class="row alignment">
        <div class="col-lg-8">
            <h1>ABOUT</h1>
            <p class="para-about">The procedure for checking what coding skills a user has, needs to be checked one by one on the coding/open source sites he uses. The process is really time taking. To make it quick we came up with ProperKodo, A web-based app that collects data from various popular competitive coding &nsp; open source websites and displays a cumulative result in a single page.
This helps the user to get all the data at one place and in a graphical representation easy to understand. This is beneficial to both the employee and employer as the employer gets the data of the aspiring employee at one place and can judge his skills. The employee gets to evaluate his progress on a regular basis on all platform he uses. 
</p>
            <p class="para-about">The UI is simply implemented to make the experience to use ProperKodo a child’s play. The user needs to give the usernames for the respective websites and the data from all the entered websites is displayed. The user has the option to print or save a PDF of the data that is displayed.
The websites that are covered are Github, Codechef, Codeforce, Hackerrank and Hackerearth..</p>
            
            <img src="/assets/Logo.png" height="200px;">
            <a  href="https://github.com/rahul2240/properkodo-backend"><button class="btn git-button para-about btn-lg">GITHUB REPOSITORY</button></a>
            
            
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
            <br><br>
            
            <img  src="/assets/interview.png" width="70%">
            <br><br>
            <img src="/assets/cv.png" width="70%">
        </div>
    </div>
    <p class="love-text">Made with <b style="color: red;">&#10084; </b> by <a href="https://www.facebook.com/rahul2240"> Rahul</a>,<a href="https://www.facebook.com/vishnoikunal"> Kunal</a> &amp;<a href="https://www.facebook.com/shubhmisaki"> Shubham</a></p>
    
</fieldset>
