<fieldset class="scheduler-border">
            <legend class="scheduler-border"><img src="/assets/Logo.png" width="100px" height="100px"></legend>
            <div class="my-overflow">
                <div id="dis" style="display: none;">
                    <div class="row alignment">
                        <div class="col-lg-3 col-sm-3 ">
                            <h2>ABOUT</h2>
                            <br>
                        </div>
                    </div>
                    <div class="row alignment">
                        <div class="col-lg-2 col-sm-2 ">
                            <h3 class="margin-data">NAME:</h3>
                            <h3 class="margin-data">USERNAME:</h3>
                            <h3 class="margin-data">LOCATION:</h3>
                            <h3 class="margin-data">BIO:</h3>
                        </div>
                        <div class="col-lg-4 col-sm-2 ">
                            <h3 class=" margin-data" id="name"></h3>
                            <h3 class=" margin-data"  id="user"></h3>
                            <h3 class=" margin-data"  id="location"></h3>
                            <h3 class="  margin-data"  id="bio"></h3>

                        </div>

                        <div  class="col-lg-3 col-md-offset-2 ">
                            <div align="center">
                                <img src=""  id="image" class="img-responsive img-circle" alt="">
                                <h3 class="name-up-2" id="name2"></h3>
                                <h3 class="name-up" id="loc"></h3>
                            </div>

                        </div>
                    </div>
                    <div class="pie text-center"><h2>Language Used</h2>
                        <div align="center">
                            <img src="/assets/pie.png" id="pie" class="img-responsive ">
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
        <p>Type your git username in the text field: </p>
        <input type="text" id="username">
        <button onclick="load()">Submit</button>
    </div>
