body{
margin-top: 1%;
margin-right: 1%;
margin-left: 1%;
background-color: rgb(34, 69, 72 );
color: #fff;
}

 @font-face {
    font-family: "BEBAS";
    src: url("BEBAS.ttf");
}
div{
  font-family: 'BEBAS', arial;
}

legend.scheduler-border {
width:inherit; /* Or auto */
padding:0 10px; /* To give a bit of padding on the left and right */
border-bottom:none;
}

fieldset.scheduler-border {
border: 5px groove  ;
padding: 0 1.4em 1.4em 1.4em !important;
margin: 0 0 1.5em 0 !important;

border-color: #00FF7F;
}
.alignment{
  margin-left: 1%;
}
.left{
  display: inline-block;
}
.right{
  display: inline-block;
}
.user-image{
  width: 200px;
  height: 200px;
}
.capital{
  text-transform: uppercase;
}
.margin-data{
  margin-top: -2px;
}

.name-up{
  margin-top: -2px;
}
.name-up-2{
  margin-top: -1px;
}
.pie{
  margin-left: 2%;
}
.my-overflow {
        overflow-y: auto;

        max-height: 500px;
        overflow-x: hidden;


        }
        ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(34, 69, 72 );
}

::-webkit-scrollbar-thumb {
    background-color: #00FF7F;
}
