@import "bootstrap-sprockets";
@import "bootstrap";

body{
margin-top: 1%;
margin-right: 1%;
margin-left: 1%;
background-color: rgb(6, 23, 25 );
color: #fff;
}
@font-face {
font-family: "BEBAS";
src: url("BEBAS.ttf");
}
div{
font-family: 'BEBAS', arial;
}
legend.scheduler-border {
width:inherit; /* Or auto */
padding:0 0; /* To give a bit of padding on the left and right */
border-bottom:none;
}
fieldset.scheduler-border {
border: 5px solid  ;
border-color:  #00FF7F;
}
.alignment{
margin-left: 1%;
}
.left{
display: inline-block;
}
.right{
display: inline-block;
}
.user-image{
width: 200px;
height: 200px;
}
.capital{
text-transform: uppercase;
}
.margin-data{
margin-top: -2px;
}
.name-up{
margin-top: -2px;
}
.name-up-2{
}
.pie{
margin-left: 2%;
}
.my-overflow {
overflow-y: auto;
max-height: 500px;
overflow-x: hidden;
}
::-webkit-scrollbar {
width: 7px;
}
::-webkit-scrollbar-track {
background-color: rgb(6, 23, 25 );
}
::-webkit-scrollbar-thumb {
background-color: #00FF7F;
}
@media only screen and (max-width:426px)   {
.my-overflow{
max-height: 350px;
}
}
hr{
color: #00FF7F;
border-color: #00FF7F;
background-color: #00FF7F;
}
.heading{
color: #00FF7F;
}
/* **************  For home page *************  */
.navbar {
margin: 0;
width: 100%;
position: absolute;
top: 0;
left: 0;
background-color: transparent;
height: 10rem;
border-radius: 0;
border: 0;
}
.head{
font-size: 50px;
}
.navbar-brand {
font-size: 5rem;
line-height: 5rem;
height: rem;
position: absolute;
top: 0.8rem;
left: 9rem;
color: #fff !important;
}
@media only screen and (max-width:426px) {
.navbar-brand {
left: 2rem;
}
.small-image{
width: 200px;
}
.head{
font-size: 40px;
}
}
.navbar-nav li a {
line-height: 3rem;
font-size: 2rem;
color: #fff;
transition: color 0.3s, background 0.3s;
}
.navbar-nav li a:hover {
background: transparent;
border-radius: 5px;
}
.margin-left {
margin-left: -10px !important;
}
.navbar-nav li {
margin: 0 10px;
}
.navbar-collapse {
margin-top: 15px;
text-align: center;
}
.navbar-collapse a {
margin-right: 0 !important;
}
.demo-link {
border: 2px solid #00FF7F;
border-radius: 8px;
background-color:#00FF7F;
color: black !important;
}
.demo-link:hover {
background: #00FF7F !important;
}
.margin-head-homepage{
margin-top: 10px;
margin-left: 20px;
}
.icon-bar {
background-color: #fff;
}
.head-home{
color: #00FF7F;
}
.head{
font-size: 50px;
}
#jumbotron1{
background-color: #00FF7F;
padding-bottom: 10px;
}
.inner-form{
color: black !important;
}
.form-left-text{
color: black;
opacity: 0.7;
}
#jumbo{
padding-top: 10px;
background-color: rgb(6, 23, 25 );
}
#jumbo1{
padding-top: 10px;
padding-bottom: 50px;
background-color: #00FF7F;
}
.demo-link:visited{
background-color:  #00FF7F!important;
}
.demo-link:active{
background-color:  #00FF7F !important;
}
.demo-link:focus{
background-color:  #00FF7F !important;
}
.submit-button{
float: right;
background-color:  #00FF7F;
}

@media (min-width: 48em) {
  .container1 {
    max-width: 46rem;
  }
}
.container1-narrow > hr {
  margin: 2rem 0;
}
.log{
  margin-top: 3%;
}
.submit-button-log{
float: right;
background-color:  rgb(6, 23, 25 );
}
.margin-left-20{
  margin-right:20px;
}
